<div class="app">
    <div class="head">
    <div class="title">
        <h3>Hello Employee</h3>
        <p>Appraisal(s) History</p>
    </div>
    <span class="badge">Next Appraisal</span>
</div>
<hr>
    <div>
        <table class="list">
            <tr>
                <th>INITIATED DATE</th>
                <th>INITIATED BY</th>
                <th>LAST APPRAISAL</th>
                <th>APPRAISAL DATE</th>
                <th>STATUS</th>
            </tr>
                
        </table>
    </div>
</div>